In [1]:
#Bibliotecas para manipulação dos dados
import pandas as pd
import numpy as np
from datetime import datetime,date

import numpy as np
from pandas import read_excel
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt
import seaborn as sns
import statistics as st
import scipy.stats as stats
import statsmodels.api as sm
import re

In [24]:
email = pd.read_excel ('D:/ML/Emails/database_sample.xlsx')

In [25]:
email.head()

,Category,Company name,Address,ZIP Code,City,Region,Telephone,Fax,Email
0,Hotels,y Gl Hotel,Strada Comunale di Acaya Km. 2,73029,Vernole,Puglia,0 6,NaN,info@azienda.it
1,Travel and tourism agencies,eetu & Travel,Via Pasubio 122,70125,Bari,Puglia,9466,NaN,email@azienda.it
2,Travel and tourism agencies,eti Tus Di Bendi Tuistik Sn,Via Mercato Vecchio 11,39042,Bressanone,Trentino,470094,470096,info@azienda.it
3,Advertising and marketing,John & Wle,Via B. Marcello 63,20124,Milano,Lombardia,9,4,info@azienda.it
4,Advertising and marketing,stm Srl,Via Delle Stelline 1,20146,Milano,Lombardia,4690,60477,email@azienda.it

In [26]:
 email2 = email[['Email']]

In [27]:
 email2

                Email
0     info@azienda.it
1    email@azienda.it
2     info@azienda.it
3     info@azienda.it
4    email@azienda.it
..                ...
94  email@company.com
95   info@company.com
96  email@company.com
97   info@company.com
98  email@company.com

[99 rows x 1 columns]

In [28]:
email2['Dominio'] =  email2['Email'].str.split('@').str[1]

D:\Programas\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [29]:
email2.head()

              Email     Dominio
0   info@azienda.it  azienda.it
1  email@azienda.it  azienda.it
2   info@azienda.it  azienda.it
3   info@azienda.it  azienda.it
4  email@azienda.it  azienda.it

In [30]:
regex = '^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$'

#^.+@([?)[a-zA-Z0-9-.]+.([a-zA-Z]{2,3}|[0-9]{1,3})(]?)$"

In [31]:
def check(Email):  
  
    # pass the regualar expression 
    # and the string in search() method 
    if(re.search(regex,Email)):  
        return 'Valid Email'  
          
    else:  
        return 'Invalid Email'

In [32]:
email2['is_valid_email'] = email2['Email'].apply(lambda x:check(x))

D:\Programas\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [33]:
email2.head()

              Email     Dominio is_valid_email
0   info@azienda.it  azienda.it    Valid Email
1  email@azienda.it  azienda.it    Valid Email
2   info@azienda.it  azienda.it    Valid Email
3   info@azienda.it  azienda.it    Valid Email
4  email@azienda.it  azienda.it    Valid Email

In [34]:
email2.to_excel('email2.xlsx', index=False)